@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.white { color:#FFF; }
.first ::first-letter { text-transform: capitalize; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 90.90%; 
  margin: 0 auto;
  padding: 0 17px;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  margin-top: 58px;
  position: absolute;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a { text-indent: -9999px; }
.header img { float: right; }

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  padding: 0 14px;
  border-right: 1px solid;
  margin: 16px 0;
}

.menu li:nth-child(5) {
  padding-right:0;
  border-right: none; 
}

.menu a {
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

.menu li:nth-child(1) a { color: #1ECDFF; }
.menu li:hover a { color:#1ECDFF; }

.hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: white;
  transition: all 0.5s ease;
}

.hamburger span:nth-child(1) {top:30%;}

.hamburger span:nth-child(3) {top:70%;}

.hamburger:hover span:nth-child(2) {opacity:0;}

.hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(5px,5px);}

.hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(7px,-7px);}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner {
  width: 100%;
  height: 604px;
  background: url("../Images/bgTop.jpg") center/cover no-repeat;
}

.slider h2 {
  border-bottom: 4px solid #1ECDFF;
  margin-top: 45%;
  font-size: 100px;
  font-weight: 900;
}

.slider li:nth-child(2),
.slider li:nth-child(3) { display: none; }

.slider-circle {
  margin-top: 150px;
  display: inline-block;
}

.slider-circle a {
  width: 10px;
  height: 10px;
  border-radius:5px;
  margin-right: 7px; 
  background: #B7B7B7;
  text-indent: -9999px;
}

/*//successful project section starts here*/
.success-stories {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.success-stories li {
  padding: 10px;
}
.success-stories span {
  color: #303030;
  font-size: 35px;
  font-weight: 500;
}

.success-stories h5 {
  margin: 5px 0 17px;
  color: #333;
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
}
.success-stories p {
  color: #999;
  font-size: 13px;
  line-height: 20px;
}
/*//successful project section ends here*/

/*details starts here*/
.details {
  width: 100%;
  height: 470px;
  background: url("../Images/bgTop.jpg") center/cover no-repeat;
  clip-path: polygon(0 17.87%, 100% 0%, 100% 85%, 0% 100%);
}
.details-box {
  display: flex;
  justify-content: center;
  padding-top: 140px; 
}
.details-box li { padding: 10px; }

.details-box span {
  text-indent: -9999px;
  display: inline-block;
}

.details-box span:after {
  width: 30px;
  height: 30px;
  padding: 20px;
  border: 2px solid;
  border-radius: 40px;
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-size: 25px;
  font-weight: 900;
  vertical-align: middle;
  text-indent: 0;
}

.details-box li:nth-child(1) span::after { content: "\f004"; }
.details-box li:nth-child(2) span::after { content: "\f013"; }
.details-box li:nth-child(3) span::after { content: "\f3cd"; }

.details-box h5 {
  margin: 23px 0 12px;
  font-size: 20px;
  text-transform: capitalize;
}

.details-box p {
  font-size: 13px;
  line-height: 20px;
}
/*details ends here*/
/*team details starts here*/
.team { 
  padding: 32px 0 63px;
  border-bottom: 1px solid #CCC;
}

.team h4 {
  margin-bottom: 14px;
  color: #111;
  font-size: 28px;
}

.team .wrapper > span {
  margin-bottom: 58px;
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: 100;
}

.team .wrapper > span:first-letter { text-transform: capitalize; }

.team-players {
  display: flex;
  justify-content: center;
}

.team-player article {
  display: flex;
  justify-content: center;
}

.team-players img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.team-players h5 {
  margin: 25px 0 5px;
  color: #333;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
}

.team-players span {
  color: #CCC;
  font-size: 13px;
  text-transform: capitalize;
}

.team-players span { text-transform: uppercase; }

.team-players p {
  margin-top: 16px;
  color: #999;
  font-size: 13px;
  line-height: 20px;
}

.team-players-social {
  display: flex;
  justify-content: center;
}

.team-players-social a {
  margin-left: 18px;
  display: inline-block;
  text-indent: -9999px;
  font-size: 15px;
}

.team-players-social a:after {
  color: #333;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 100;
  vertical-align: middle;
  display: block;
  text-indent: 0;
}

.team-players-social li:nth-child(1) a::after { content: "\f082"; }
.team-players-social li:nth-child(2) a::after { content: "\f0d2"; }
.team-players-social li:nth-child(3) a::after { content: "\f099"; }
.team-players-social li:nth-child(4) a::after { content: "\f0d4"; }

.team-players-social li:hover a:after {
  color: #1ECDFF;
}

/*team details ends here*/
/*
/*customer reviews starts here*/
.customer {
  padding: 70px 0 116px;
}

.customer h4 {
  margin-bottom: 69px;
  color: #111;
  font-size: 28px;
}

.customer-reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customer-reviews article {
  /*padding: 10px;*/
  flex-basis: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-reviews h6 {
  color: #444;
  font-size: 17px;
  text-transform: capitalize;
}

.customer-reviews p {
  margin-top: 10px;
  color: #999;
  font-size: 13px;
  line-height: 20px;
}

.customer-reviews img {
  width: 75px;
  height: 75px;
}

.customer-top {
  border-bottom: 1px solid #CCC;
  padding-bottom: 46px;
}

.customer-bottom { padding-top: 34px; }
.customer-right { text-align: left; }
.customer-right div { padding-left: 36px; }
.customer-right figure { padding-left: 56px; }

.customer-left {
  border-right: 1px solid #CCC;
  text-align: right;
}

.customer-left div { padding-right: 36px; }
.customer-left figure { padding-right: 56px; }
/*customers reviews ends here*/

/*our work, whats new and question section starts here*/
.our-work {
  width: 100%;
  height: 331px;
  background: url("../Images/bgTop.jpg") left bottom/cover no-repeat content-box;
  clip-path: polygon(0 25.37%, 100% 0%, 100% 79.75%, 0% 100%);
  margin-bottom: 40px;
}

.our-work .wrapper { padding-top: 115px; } 

.our-work h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.our-work span {display: inline-block;}

.our-work span:first-letter { text-transform: capitalize; }
/*our work, whats new and question section ends here*/

/*all projects starts here*/

/*first ul li*/
.categories {
  display: flex;
  justify-content: center;
  padding: 0 0 73px;
}

.categories li {
  padding: 8px 16px;
  margin-left: 12px;
  border-radius: 5px;
  box-shadow: 0 2px #000;
  background-color: #303030;
}

.categories li a {
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
}

.categories li:nth-child(1),
.categories li:hover {
  background-color: #1ECDFF;
  box-shadow: 0 2px #1EAAEE;
}

/*second ul li*/
.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-list li {
  flex-basis: 30%;
  margin-left: 30px;
}

.project-list figure { margin-bottom: 22px; }

.project-list a {
  display:block;
  color: #222; 
}

.project-list a:hover {color: #1ECDFF;}

.project-list li span {
  margin: 10px 5px 45px; 
  display: inline-block;
  color: #CCC;
  font-size: 13px;
}
.project-list li span::before {
  margin-right: 5px;
  content: "\f06e";
  color: #CCC;
  font-family: 'Font Awesome 5 Free';
  font-weight: 100;
  vertical-align: middle;
  display: inline-block;
}

.project-list li span:nth-of-type(2)::before { content: "\f004"; }

/*third ul li*/
.show-extras {
  display: flex;
  justify-content: center;
  margin: 25px 0 65px;
}

.show-extras li {
  padding: 13px 18px;
  margin-left: 12px;
  border-radius: 4px;
}

.show-extras a {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

.show-extras a::before {
  margin-right: 10px;
  display: inline-block;
  content: "\f063";
  color: #FFF;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: middle;
}

.show-extras li:nth-child(2) a::before { content: "\f07a"; }

.show-extras li:nth-child(1) { 
  background-color: #303030;
  box-shadow: 0 2px #000;
}
.show-extras li:nth-child(2) { 
  background-color: #1ECDFF;
  box-shadow: 0 2px #1EAAEE; 
}
 
.show-extras li:nth-child(1):hover {
  background-color: #1ECDFF;
  box-shadow: 0 2px #1EAAEE;
}

.show-extras li:nth-child(2):hover {
  background-color: #303030;
  box-shadow: 0 2px #000;
}
/*all projects ends here*/
  
/*contact us starts here*/
.contact-us { margin-bottom: 40px; }

.contact-us .wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-form { flex: 3; }

.contact-form div:nth-of-type(1),
.contact-form div:nth-of-type(2) { 
  width: 47%;
  display: inline-block; 
} 

.contact-form div input,.contact-form textarea {
  width: 90%;
  margin-bottom: 10px;
  border: none;
  padding: 10px 14px;
  background-color: #EDEDED;
  border-radius: 4px;
  font-size: 13px;
}

.contact-form textarea { resize: none; }


.form-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.form-buttons input {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Font Awesome 5 Free',sans-serif;
}

.social {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.social li { margin-bottom: 20px; }

.social a {
  color: #1ECDFF;
  font-size: 13px;
}

.social li:nth-of-type(1) a,
.social li:nth-of-type(2) a,
.social li:nth-of-type(4) a {
  color: #555;
}

.social li:hover a { color: #555; }

.social address {display: inline-block;}

.social a:before {
  margin-right: 12px;
  color: #333;
  font-size: 12px;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  vertical-align: middle; 
}

.social li:nth-child(1) a::before { 
  content: "\f015";
  font-family: 'Font Awesome 5 Free'; 
}

.social li:nth-child(2) a:nth-of-type(1)::before { 
  content: "\f879";
  font-family: 'Font Awesome 5 Free'; 
}

.social li:nth-child(3) a::before { 
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free'; 
}

.social li:nth-child(4) a::before { content: "\f099"; }
.social li:nth-child(5) a::before { content: "\f17e"; }
.social li:nth-child(6) a::before { content: "\f082"; }
.social li:nth-child(7) a::before { content: "\f17d"; }
.social li:nth-child(8) a::before { content: "\f16e"; }
.social li:nth-child(9) a::before { content: "\f167"; }

.team-players-social li:hover a:after { color: #1ECDFF; }
/*contact us ends here*/

/*buy template starts here*/
.buy-templates {
  padding: 0;
  margin-bottom: 85px;
  border: none;
}

.buy-templates p {
  margin-bottom: 40px;
  color: #555;
}

.buy-templates p:first-letter { text-transform: capitalize; }
.buy-templates a { text-transform: uppercase; }
.buy-templates a::before { content: "\f005"; }
.buy-templates li:nth-child(2) a::before { content: "\f019"; }

/*buy template ends here*/
/*newsletters starts here*/
/*clip path and bg none added to remove previous image added by using class*/
.newsletters {
  width: 100%;
  height: 525px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  background: none;
  background: url("../Images/line7Bg.jpg") center/cover no-repeat;
  clip-path: polygon(0 12.19%, 100% 0%, 100% 87.81%, 0% 100%);
  padding: 0; 
  border: none;
  margin: 0;
}

.newsletters h4 { color: #FFF; }
.newsletters p { margin: 16px 0 30px; }

.newsletters-form {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.newsletters-form div:nth-child(1) input { 
  width: 312px;
  padding: 12px 20px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #1D1D1D;
}

.newsletters-form div:nth-child(2) input {
  padding: 11px 16px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1ECDFF;
  color: #FFF; 
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0 2px #1EAAEE; 
}

.newsletters-form div:nth-child(2):hover input {
  background-color: #303030;
  box-shadow: 0 2px #000;
}

.social a:before {
  margin-right: 12px;
  color: #333;
  font-size: 12px;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  vertical-align: middle; 
}

.newsletters-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.newsletters-social a {
  color: #FFF;
  margin-left: 18px;
  text-indent: -9999px;
  display: inline-block;
}

.newsletters-social a::before {
  width: 20px;
  height: 20px;
  padding: 15px;
  border: 2px solid;
  border-radius: 40px;
  font-size: 18px;
  font-family: 'Font Awesome 5 Brands';
  font-weight: 100;
  display: block;
  vertical-align: middle;
  float: right;
  text-indent: 0;
}

.newsletters-social a:hover::before {
  background-color: #1D1D1D;
  border: 2px solid #1D1D1D;
}

.newsletters-social li:nth-child(1) a::before { content: "\f08c"; }
.newsletters-social li:nth-child(2) a::before { content: "\f082"; }
.newsletters-social li:nth-child(3) a::before { content: "\f099"; }
.newsletters-social li:nth-child(4) a::before { content: "\f231"; }
.newsletters-social li:nth-child(5) a::before { content: "\f173"; }
.newsletters-social li:nth-child(6) a::before { content: "\f167"; }
.newsletters-social li:nth-child(7) a::before { content: "\f0d4"; }
.newsletters-social li:nth-child(8) a::before { content: "\f17d"; }

/*newsletters ends here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #0F0F0F; }

footer form {
  text-align: right;
  margin-bottom: 34px;
}
.search input {
  margin-top: 5px;
  width: 90px;
  border: none;
  padding: 5px;
  background-color: transparent;
}

.search div::after {
  content: "\f002";
  font-size: 12px;
  font-family: 'Font Awesome 5 Free';
  color: #AAA;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.copy-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;
}

.copy-info div { font-size: 13px; }

.copy-info li a {
  padding: 0 13px;
  border-right:1px solid #555;
  color: #FFF;
  font-size: 12px;
}

.copy-info li:nth-child(5) a { border:none; }

.copy-info li:hover a { color: #1ECDFF; } 

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .wrapper {
    width: 94.80%; 
    padding: 10px;
  }

  header {
    margin-top: 0;
    position: static;
    background-color: #111;
  }

  .header .wrapper {
    width: 97.92%;
    padding-top: 9px;
  }

  .menu {
    width: 100%;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #101010;
  }

  .menu li {
    width: 100%;
    padding: 0 15px;
    border-right: none;
    margin: 0;
  }

  .menu a {
    width: 96%;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .menu a:hover { background-color: #888; }
  .menu li:nth-child(1) a { color: #FFF; }
  .menu li:hover a { color:#FFF; }
  nav:hover .menu { display: block; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .success-stories {
    margin-top: 26px;
    flex-direction: column;
  }

  .details { height: 746px; }

  .details-box {
    flex-direction: column;
    padding-top: 80px;
  }

  .details-box li { padding: 0; }

  .team {
    border-top: 1px solid #EEE;
    padding: 0;
  }

  .team-players { flex-direction: column; }
  .team-players-social { margin-bottom: 30px; }
  .customer { padding: 30px 0; }
  .customer h4 { margin-bottom: 40px; }
  .customer-reviews article { flex-basis: 100%; }

  .customer-top,
  .customer-right, 
  .customer-bottom,
  .customer-left {
    border: none;
    text-align: justify;
    padding: 20px 0; 
  }

  .customer-left h6 {text-align: right}
  .customer-right figure,
  .customer-left figure { padding: 0; }
  .project-list li { flex-basis: 28%; }

  .project-list li:nth-child(4) { order:5; }
  .project-list li:nth-child(5) { order:6; }
  .project-list li:nth-child(6) { order:4; }
  .project-list li:nth-child(7) { order:8; }
  .project-list li:nth-child(8) { order:9; }
  .project-list li:nth-child(9) { order:7; }
  .show-extras { margin: 0 0 65px; }
  .contact-us .wrapper { flex-direction: column; }
  .contact-form div:nth-of-type(1),
  .contact-form div:nth-of-type(2) { width: 100%; }
  .newsletters-form div:nth-child(1) input { width: 135px; }
  
  .copy-info ul {
    text-align: right;
    margin-top: 30px;
  }
}  